.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);

  img {
    animation: blink 1s linear infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
